# Environments
backend/.env
frontend/.env.local
.env
.env.*

# Python
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Node / JS
node_modules/
frontend/node_modules/
.next/
frontend/.next/
out/
build/
dist/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
